<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Carplate:</strong>
    <%= customer.carplate %>
  </p>

  <p>
    <strong>Date in:</strong>
    <%= customer.date_in %>
  </p>

</div>
