<div id="<%= dom_id ticket %>">
  <p>
    <strong>Date:</strong>
    <%= ticket.date %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= ticket.spot %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= ticket.id %>
  </p>

</div>
